/* Style for the whole page*/
body {
    /*background-color: rgb(253, 248, 238);*/
    background-image: linear-gradient(rgb(249, 249, 249), rgb(226, 185, 247));
}

/* Nav bar heading*/
.heading {
    text-transform: uppercase;
    font-size:30px;
    text-align: center;
    padding-top: 20px;
}

.navbar{
    transition: top 0.3s;
}

/* Profile image sizing */
.profileimage {
    width: 40%;
    height: 40%;
    display: block;
    margin-left: auto;
    border-radius: 5%;
}

.aboutimage1 {
    width: 40%;
    height: 40%;
    float: right;
    border-radius: 5%;
}

/* This is for the overlays in the education section */
.overlay {
    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(67, 67, 67);
}
.column:hover .overlay {
    opacity: 1;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Box for the education section */
.box {
    padding-left: 50px;
    padding-right: 50px;
    float: left;
}

/* Footer */
.footer {
    padding: 20px;
    background-color: whitesmoke;
}

.footer-item {
    color: rgb(32, 31, 31);
}

/* Fade text headings */
h1 {
    max-width: 40ch;
    text-align: center;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5,1,0.89,1);
}
@keyframes scale {
    100% {
        transform: scale(1);
    }
}
span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}
span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}